<p>
  <strong><%= User.human_attribute_name 'email' %>:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= User.human_attribute_name 'postal_code' %>:</strong>
  <%= @user.postal_code %>
</p>
<p>
  <strong><%= User.human_attribute_name 'address' %>:</strong>
  <%= @user.address %>
</p>
<p>
  <strong><%= User.human_attribute_name 'bio' %>:</strong>
  <%= @user.bio %>
</p>

<% if current_user == @user %>
  <%= link_to t('devise.shared.links.edit'), edit_user_registration_path %>
<% end %>
<%= link_to t('devise.shared.links.back'), users_path %>
