<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %></strong>
  <%= @report.body %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %></strong>
  <%= l @report.created_at, format: :date_only %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:user) %></strong>
  <%= @report.user.email %>
</p>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>

<aside>
  <%= render 'comments/comments', commentable: @report %>
</aside>
